@import "variables.scss";

#starWarsExtensionCustom {
    width: 500px;
    background-image: url('../images/sullust_04-2400x1200-795653638057.jpg');
    background-size: cover;
	
	.title {
		font-weight: 900;
		color: white;
	}	
	.app_spinner {
		 background: rgba( 255, 255, 255, .8 ) url('../images/spinner.svg') 50% 50% no-repeat;
		display:    none;
		position:   fixed;
		z-index:    1060;
		top:        0;
		left:       0;
		height:     100%;
		width:      100%;
	}
	.loading {
		overflow: hidden;
		.app_spinner {
			display: block;
		}
	}
	#breadcrumbs, #detailsTitle, #detailsPage {
		display: none;
	}
	#startPage,  #detailsPage{
		.swTile {
			height: 170px;
			cursor: pointer;
		}
		img {
			height: $image;
			width: $image;
		}
	}
	#startPage .row{
		min-height: 380px;
	}
	#detailsPage .detailsWrapper{
		min-height: 380px;
	}
	#volumeUp,  #volumeOff{
		position: absolute;
		top: 20px;
		left: 20px;
		cursor: pointer;
	}
	#volumeUp{
		left: 40px;
	}
}